body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    text-align: center;
}

#track-select {
    display: block;
    margin: 10px auto;
    padding: 8px;
}

#schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.session {
    border: 1px solid #080808;
    padding: 15px;
    margin: 10px;
    width: 80%;
    border-radius: 5px;
    background-color: #0c0b0b;
}
